/ChiSquare.class
/FINAL EXCEL.xlsx
/MonteCarloChiSquare.class
/MonteCarloChiSquare.java
/RunSimulation.class
/Simulation.class
/Simulation.java
/Simulation2.class
/Simulation2.java
/SIMULATUONQUANTI.code-workspace
/Temp.class
/Test.class